#game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.grid-cell {
  width: 50px;
  height: 50px;
  margin: 1;

  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.grid-cell:nth-child(-n + 3) {
  border-top: none;
}
.grid-cell:nth-child(3n + 3) {
  border-right: none;
}

.grid-cell:nth-child(3n + 1) {
  border-left: none;
}

.grid-cell:nth-child(n + 7) {
  border-bottom: none;
}

.x::after {
  content: "❌";
}

.o::after {
  content: "⭕";
}

.disabled {
  cursor: not-allowed;
}

.grid-cell:not(.disabled):hover {
  background-color: #eee;
}

.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
}

.game-over-text {
  position: absolute;
  top: -200px;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  transform: translateX(-10%);
  color: white;
}

.visible {
  display: block;
}

.restart {
  height: 50px;
  width: fit-content;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
